In [ ]:
import requests

In [ ]:
url = "http://localhost:3000/corona"
params = {
    'servicekey' : 'aaa'
}

data = requests.get(url, params=params).content

In [ ]:
import pprint as pp

In [ ]:
url = "https://www.naver.com"

data = requests.get(url)

In [ ]:
data = data.text

In [ ]:
data.find('네이버')

In [ ]:
data[365:368]

In [ ]:
!pip install bs4

# beautifulsoup 라이브러리
1. html tag의 데이터를 쉽게 추출하기 위한 라이브러리 
2. 웹의 구조를 어느정도 인지를 한 상태에서 라이브러리 사용하면 쉽게 데이터 추출
3. 파서(parser)를 활용하여 파이썬에서 접근이 쉽게 객체 형태로 제공

In [ ]:
from bs4 import BeautifulSoup as bs

In [ ]:
# html 형태로 파싱 
soup = bs(data, 'html.parser')

In [ ]:
print(soup)

- 태그의 이름을 사용해서 검색
    - soup[태그명] : 해당 태그의 첫번째 정보를 출력
    - soup[태그명][속성] : 해당 태그의 첫번째 속성에 대한 값을 출력

In [ ]:
print(soup.title)
print(soup.title.name)
print(soup.title.string)

In [ ]:
print(soup.img)
print(soup.img['alt'])

- find()
    - HTML 문서 안에서 해당 태그의 첫번째 정보 출력
    - find(속성 = 값) : HTML 문서 안에서 해당 속성과 일치하는 값을 가진 태그의 첫번째 정보 출력

In [ ]:
print(soup.find('a'))

In [ ]:
print(soup.find(id = 'newsstand'))

- find_all()
    - HTML 문서 안에서 해당 태그에 대한 정보를 모두 출력 (데이터형태가 list)
    - limit 매개변수 : 리스트의 길이 지정

In [ ]:
print(soup.find_all('span')[2])

In [ ]:
sample = soup.find('div', attrs={
    'class' : 'media_view'
})

In [ ]:
print(sample)

In [ ]:
sample_list = sample.find_all('strong')
print(sample_list)

In [ ]:
sample_list[0].get_text()

In [51]:
result = []

for i in sample_list:
    result.append(i.get_text())

pp.pprint(result)

['[스페셜] 가정교육은커녕, 돈이 없어서 학교까지 자퇴한 어린 소녀의 무자비한 악플💥, 누가 잘못일까(=부모)? | JTBC 230409 '
 '방송',
 '이게 되네..? 귀국할 뻔한 백종원을 잡아준 은인❣ #highlight',
 '찬또의 초간단 도시락 메뉴★ 꾸미유부초밥부터 묵은지말이쌈밥까지 뚝딱! | KBS 230407 방송',
 '[19화 선공개] 박형식을 향한 전소니의 애틋한 사랑 고백♥',
 "1회 선공개｜이찬원이 부릅니다 '희망가'｜도원차트 ON THE STAGE｜월요일 저녁 7시 30분",
 '(울컥) 김태향의 증언으로, 마침내 김준의의 후견인이 된 조승우 | JTBC 230409 방송',
 '[단독 선공개] 철웅이 고것도... 나 뱃속에서 나온 새끼랑께... | KBS 방송',
 '서인영의 로망을 실현 해내는 빛키정✨ | KBS 230409 방송',
 '[선공개] 새로운 사랑꾼 대공개! 국경을 초월한 찐 사랑꾼들이 온다! TV CHOSUN 230410 방송']

In [52]:
url = "https://finance.naver.com/"

html_data = requests.get(url).text

In [53]:
soup = bs(html_data, 'html.parser')

In [55]:
data = soup.find('table', attrs={
    'class' : 'tbl_home'
})

In [57]:
data2 = data.find('tbody')

In [59]:
_list = data2.find_all('th')

In [60]:
result = []

for i in _list:
    result.append(i.get_text())

print(result)

['DB', '이트론', 'KODEX 200선물인버스2X', '크리스탈신소재', 'KODEX 코스닥150선물인버스', '엘컴텍', '이아이디', '동국산업', '유니온머티리얼', '엔에스엔', '포스코 ICT', '이스트아시아홀딩스', '디젠스', '제이스코홀딩스', '넥스턴바이오']

In [63]:
data3 = data2.find_all('tr', attrs={
    'class' : 'up'
})

In [64]:
data3

[<tr class="up">
 <th scope="row"><a href="/item/main.naver?code=012030" onclick="clickcr(this, 'spe.slist', '012030', '1', event);">DB</a></th>
 <td>2,840</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 280</td>
 <td> <em class="up"> +10.94% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=096040" onclick="clickcr(this, 'spe.slist', '096040', '2', event);">이트론</a></th>
 <td>264</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 16</td>
 <td> <em class="up"> +6.45% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=900250" onclick="clickcr(this, 'spe.slist', '900250', '4', event);">크리스탈신소재</a></th>
 <td>1,615</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 329</td>
 <td> <em class="up"> +25.58% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=037950" onclick="clickcr(this, 'spe.slist', '037950', '6', event);">엘컴텍</a></th>
 <td>2,155</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 159</td>
 <td> <em class="up"> +7.97% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=093230" onclick="clickcr(this, 'spe.slist', '093230', '7', event);">이아이디</a></th>
 <td>2,185</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 463</td>
 <td> <em class="up"> +26.89% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=005160" onclick="clickcr(this, 'spe.slist', '005160', '8', event);">동국산업</a></th>
 <td>7,830</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,310</td>
 <td> <em class="up"> +20.09% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=047400" onclick="clickcr(this, 'spe.slist', '047400', '9', event);">유니온머티리얼</a></th>
 <td>3,640</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 330</td>
 <td> <em class="up"> +9.97% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=031860" onclick="clickcr(this, 'spe.slist', '031860', '10', event);">엔에스엔</a></th>
 <td>904</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 193</td>
 <td> <em class="up"> +27.14% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=022100" onclick="clickcr(this, 'spe.slist', '022100', '11', event);">포스코 ICT</a></th>
 <td>10,770</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 430</td>
 <td> <em class="up"> +4.16% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=900110" onclick="clickcr(this, 'spe.slist', '900110', '12', event);">이스트아시아홀딩스</a></th>
 <td>169</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 3</td>
 <td> <em class="up"> +1.81% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=113810" onclick="clickcr(this, 'spe.slist', '113810', '13', event);">디젠스</a></th>
 <td>1,280</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 117</td>
 <td> <em class="up"> +10.06% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=023440" onclick="clickcr(this, 'spe.slist', '023440', '14', event);">제이스코홀딩스</a></th>
 <td>4,700</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 600</td>
 <td> <em class="up"> +14.63% </em> </td>
 </tr>,
 <tr class="up">
 <th scope="row"><a href="/item/main.naver?code=089140" onclick="clickcr(this, 'spe.slist', '089140', '15', event);">넥스턴바이오</a></th>
 <td>2,180</td>
 <td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 207</td>
 <td> <em class="up"> +10.49% </em> </td>
 </tr>]

In [ ]:
# td 리스트
_list3 = []

for i in data3:
    _sample_list = []
    _sample_list.append(i.find('th').get_text())
    _list4 = i.find_all('td')
    for j in _list4:
        _sample_list.append(j.get_text())
    _list3.append(_sample_list)

_list3

In [67]:
pd.DataFrame(_list3)

            0       1         2            3
0          DB   2,840    상승 280    +10.94%
1         이트론     264     상승 16     +6.45%
2     크리스탈신소재   1,615    상승 329    +25.58%
3         엘컴텍   2,155    상승 159     +7.97%
4        이아이디   2,185    상승 463    +26.89%
5        동국산업   7,830  상승 1,310    +20.09%
6     유니온머티리얼   3,640    상승 330     +9.97%
7        엔에스엔     904    상승 193    +27.14%
8     포스코 ICT  10,770    상승 430     +4.16%
9   이스트아시아홀딩스     169      상승 3     +1.81%
10        디젠스   1,280    상승 117    +10.06%
11    제이스코홀딩스   4,700    상승 600    +14.63%
12     넥스턴바이오   2,180    상승 207    +10.49%