In [28]:
import pandas as pd

1. csv폴더에서 uriage.csv 로드 
2. purchase_date 컬럼의 데이터를 시계열데이터 변경
3. item_name의 데이터의 모든 문자열을 대문자로 변경
4. item_name의 데이터의 공백을 모두 삭제
5. item_name을 기준으로 오름차순 정렬
6. 인덱스를 초기화
7. 결측치를 채우는 작업
    - item_price 컬럼에 결측치가 존재
    - 상품A인 경우 결측치는 상품A의 item_price중 결측치가 아닌 값으로 치환
    - 위의 작업을 상품A부터 상품Z까지 반복 작업

In [29]:
uriage = pd.read_csv("../csv/uriage.csv")
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [30]:
uriage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [31]:
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [32]:
# 시계열 데이터로 데이터의 형태를 변경
# pd.to_datetime(변경할 데이터, format = "")
t = '04/05/05'
pd.to_datetime(t, format="%y/%m/%d")

Timestamp('2004-05-05 00:00:00')

In [33]:
# purchase_date 컬럼을 시계열로 변경
uriage['purchase_date']
uriage['purchase_date'] = pd.to_datetime(uriage['purchase_date'], 
                format = '%Y-%m-%d %H:%M')

In [34]:
uriage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   datetime64[ns]
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 93.8+ KB

In [35]:
# 원본데이터를 생성
origin_data = uriage.copy()

In [36]:
origin_data

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1    2019-07-13 13:05:00     상 품 S         NaN           김우찬
2    2019-05-11 19:42:00     상 품 a         NaN           김유찬
3    2019-02-12 23:40:00       상품Z      2600.0           김재현
4    2019-04-22 03:09:00       상품a         NaN           김강현
...                  ...       ...         ...           ...
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민
2995 2019-06-22 04:03:00       상품M      1300.0           김재원
2996 2019-03-29 11:14:00       상품Q         NaN           김지율
2997 2019-07-14 12:56:00       상품H         NaN           김승주
2998 2019-07-21 00:31:00       상품D       400.0           정준기

[2999 rows x 4 columns]

In [37]:
uriage.drop("item_name", axis=1, inplace=True)
uriage.head(1)

        purchase_date  item_price customer_name
0 2019-06-13 18:02:00       100.0           김가온

In [39]:
uriage = origin_data.copy()

In [41]:
uriage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   datetime64[ns]
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 93.8+ KB

In [45]:
# item_name컬럼의 데이터를 모두 대문자로 변경
# upper() : 문자열을 모두 대문자 변환
# str.upper() 사용하여 문자열을 대문자로 변경하는 방식
uriage['item_name'] = uriage['item_name'].str.upper()

In [46]:
# apply() 함수를 이용하여 글자를 모두 소문자로 변경
# apply()는 스리즈형태데이터.apply(함수) --> 
# 스리즈의 데이터들을 하나씩 함수안에 넣어서 결과값으로 
# 새로운 스리즈형태의 데이터를 생성 

def change(x):
    result = x.lower()
    return result

uriage['item_name'].apply(change)

0         상품a
1       상 품 s
2       상 품 a
3         상품z
4         상품a
        ...
2994      상품y
2995      상품m
2996      상품q
2997      상품h
2998      상품d
Name: item_name, Length: 2999, dtype: object