In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("../data/kospi.xlsx", index_col=0)

In [ ]:
df.head(2)

In [ ]:
samsung = pd.read_excel("../data/samsung.xlsx", index_col=0)

In [ ]:
data = [df['종가'], samsung['종가']]
data

In [ ]:
df = pd.concat(data, axis=1, keys=['kospi', 'samsung'])
df

In [ ]:
df.corr()

In [ ]:
df.plot.scatter(x='samsung', y='kospi')

In [ ]:
kospi = pd.read_excel("../data/kospi.xlsx", usecols=[0, 1, 4, 5, 6, 7], parse_dates=[0])

In [ ]:
kospi.info()

In [ ]:
how = {
    '시가' : 'first', 
    '고가' : 'max', 
    '저가' : 'min', 
    '종가' : 'last', 
    '거래량' : 'sum'
}

group_data = kospi.groupby(pd.Grouper(key='일자', freq='W')).agg(how)

In [ ]:
kospi.loc[0, '일자'].weekday()

In [ ]:
for i in kospi.index:
    kospi.loc[i, '요일'] = kospi.loc[i, "일자"].weekday()

In [ ]:
kospi = kospi.sort_values('일자').set_index('일자')

In [ ]:
# 한주의 시작의 조건?
# 전의 요일 데이터보다 현재의 요일 데이터가 작거나 같은 경우 
kospi.loc[kospi.shift(1)["요일"] >= kospi["요일"]].value_counts('요일')

In [ ]:
# 한주의 마지막의 조건?
# 다음날의 요일이 현재 요일보다 작거나 같은 경우
kospi.loc[kospi.shift(-1)['요일'] <= kospi['요일']].value_counts('요일')

In [ ]:
group_data["수익율"] = (group_data['종가'] - group_data['시가']) / group_data['시가'] +1

In [ ]:
for i in group_data.index:
    group_data['요일'] = i.weekday()
group_data

In [ ]:
kospi

In [ ]:
kospi['rtn'] = 1
buy = kospi.iloc[0, 1]
# print(buy)
for i in kospi.index:
    # 1월 3일이 주의 마지막이기 때문에 buy가 존재할수가 없어서 미리 첫날의 시가를 지정

    # 주의 시작날의 시가를 buy에 지정
    if kospi.shift(1).loc[i, '요일'] >= kospi.loc[i, '요일']:
        buy = kospi.loc[i, '시가']
        # print(i, buy)
    # 주의 마지막 날의 종가를 sell에 지정
    elif kospi.shift(-1).loc[i, '요일'] <= kospi.loc[i, '요일']:
        sell = kospi.loc[i, '종가']
        # print(i, sell)
        rtn = (sell - buy) / buy + 1
        kospi.loc[i, 'rtn'] = rtn

In [69]:
kospi.loc[kospi['rtn'] != 1]['rtn'].values

array([0.98875618, 1.02386112, 1.02090279, 0.99324755, 0.96660463,
       1.06006872, 1.02651867, 0.96423206, 0.93991126, 1.02162712,
       0.89420602, 0.86746648, 1.16499712, 1.0329873 , 1.06615098,
       1.03303836, 0.98987078, 1.02662014, 1.02066701, 0.98657289,
       1.01841293, 1.02478654, 1.07109826, 0.96240296, 1.01272695,
       1.00388924, 1.02226032, 0.99597026, 1.01413493, 0.99585896,
       1.02082615, 1.04442076, 1.02275778, 0.95791491, 1.0192346 ,
       0.99628117, 1.01132561, 0.99754789, 0.94459966, 1.01161588,
       1.02635   , 0.97394122, 1.00335328, 0.95801817, 1.06144662,
       1.02265206, 1.01836121, 1.02867533, 1.03149487, 1.01166863,
       1.00099298, 1.01258306, 1.01861784, 1.09660115, 0.97596382,
       1.01971817, 0.94662867, 1.04831346, 0.99580875, 0.99965259,
       0.96754045, 1.00151571, 1.00738789, 0.99426573, 1.00032895,
       1.02135702, 1.00341212, 1.02033252, 0.995311  , 0.98637563,
       1.01529033, 0.98496311, 0.99785345, 1.01039954, 1.01504358,
       1.00145781, 1.00564069, 1.01184371, 0.9928361 , 0.97950257,
       1.01530592, 0.9986345 , 0.98050515, 1.01613835, 0.97335564,
       0.96553976, 1.01525523])

In [70]:
group_data['수익율'].values

array([0.98875618, 1.02386112, 1.02090279, 0.99324755, 0.96660463,
       1.06006872, 1.02651867, 0.96423206, 0.93991126, 1.02162712,
       0.89420602, 0.86746648, 1.16499712, 1.0329873 , 1.06615098,
       1.03303836, 0.98987078, 1.02662014, 1.02066701, 0.98657289,
       1.01841293, 1.02478654, 1.07109826, 0.96240296, 1.01272695,
       1.00388924, 1.02226032, 0.99597026, 1.01413493, 0.99585896,
       1.02082615, 1.04442076, 1.02275778, 0.95791491, 1.0192346 ,
       0.99628117, 1.01132561, 0.99754789, 0.94459966, 1.01161588,
       1.02635   , 0.97394122, 1.00335328, 0.95801817, 1.06144662,
       1.02265206, 1.01836121, 1.02867533, 1.03149487, 1.01166863,
       1.00099298, 1.01258306, 1.01861784, 1.09660115, 0.97596382,
       1.01971817, 0.94662867, 1.04831346, 0.99580875, 0.99965259,
       0.96754045, 1.00151571, 1.00738789, 0.99426573, 1.00032895,
       1.02135702, 1.00341212, 1.02033252, 0.995311  , 0.98637563,
       1.01529033, 0.98496311, 0.99785345, 1.01039954, 1.01504358,
       1.00145781, 1.00564069, 1.01184371, 0.9928361 , 0.97950257,
       1.01530592, 0.9986345 , 0.98050515, 1.01613835, 0.97335564,
       0.96553976, 1.01525523, 1.01214855])

In [ ]:
(2206.39 - 2154.97) / 2154.97 + 1

In [64]:
group_data

                 시가       고가       저가       종가      거래량       수익율  요일
일자
2020-01-05  2201.21  2203.38  2165.39  2176.46  1126241  0.988756   6
2020-01-12  2154.97  2206.92  2137.72  2206.39  3261879  1.023861   6
2020-01-19  2204.49  2268.71  2204.49  2250.57  3459492  1.020903   6
2020-01-26  2261.40  2277.23  2235.13  2246.13  2433930  0.993248   6
2020-02-02  2192.22  2199.93  2119.01  2119.01  2814526  0.966605   6
...             ...      ...      ...      ...      ...       ...  ..
2021-08-08  3218.42  3296.17  3194.00  3270.36  3469060  1.016138   6
2021-08-15  3258.10  3275.15  3146.76  3171.29  3395847  0.973356   6
2021-08-22  3169.74  3179.49  3049.03  3060.51  2641351  0.965540   6
2021-08-29  3086.81  3161.00  3064.65  3133.90  3030591  1.015255   6
2021-09-05  3160.87  3199.89  3130.30  3199.27  1264079  1.012149   6

[88 rows x 7 columns]