In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../csv/AAPL.csv")

In [ ]:
df1 = mm.first(df, 'Close')
df1.head()

In [ ]:
df2 = mm.second(df1)
df2.iloc[8:15]

In [ ]:
mm.third(df1, df2)

In [3]:
import invest

In [4]:
test = invest.Invest(df, 'Close')

In [5]:
test.momentum()

c:\Users\moons\Documents\GitHub\ubion_7\230417\invest\quant\momentum.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BF_1M'] = df2.shift(1)[col].fillna(0)
c:\Users\moons\Documents\GitHub\ubion_7\230417\invest\quant\momentum.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BF_12M'] = df2.shift(12)[col].fillna(0)
c:\Users\moons\Documents\GitHub\ubion_7\230417\invest\quant\momentum.py:55: RuntimeWarning: invalid value encountered in scalar divide
  momentum_index = df2.loc[i, 'BF_1M'] / df2.loc[i, 'BF_12M'] - 1
c:\Users\moons\Documents\GitHub\ubion_7\230417\invest\quant\momentum.py:55: RuntimeWarning: divide by zero encountered in scalar divide
  momentum_index = df2.loc[i, 'BF_1M'] / df2.loc[i, 'BF_12M'] - 1

구입일 : 2011-01-31 00:00:00 구입 가격 : 48.474285
판매일 : 2011-02-01 00:00:00 판매 가격 : 49.290001
구입일 : 2011-02-28 00:00:00 구입 가격 : 50.458572
판매일 : 2011-03-01 00:00:00 판매 가격 : 49.901428
구입일 : 2011-03-31 00:00:00 구입 가격 : 49.787144
판매일 : 2011-04-01 00:00:00 판매 가격 : 49.222858
구입일 : 2011-04-29 00:00:00 구입 가격 : 50.01857
판매일 : 2011-05-02 00:00:00 판매 가격 : 49.468571
구입일 : 2011-05-31 00:00:00 구입 가격 : 49.689999
판매일 : 2011-06-01 00:00:00 판매 가격 : 49.35857
구입일 : 2011-06-30 00:00:00 구입 가격 : 47.952858
판매일 : 2011-07-01 00:00:00 판매 가격 : 49.037144
구입일 : 2011-07-29 00:00:00 구입 가격 : 55.782856
판매일 : 2011-08-01 00:00:00 판매 가격 : 56.67857
구입일 : 2011-08-31 00:00:00 구입 가격 : 54.975716
판매일 : 2011-09-01 00:00:00 판매 가격 : 54.432858
구입일 : 2011-09-30 00:00:00 구입 가격 : 54.474285
판매일 : 2011-10-03 00:00:00 판매 가격 : 53.514286
구입일 : 2011-10-31 00:00:00 구입 가격 : 57.825714
판매일 : 2011-11-01 00:00:00 판매 가격 : 56.644287
구입일 : 2011-11-30 00:00:00 구입 가격 : 54.599998
판매일 : 2011-12-01 00:00:00 판매 가격 : 55.418571
구입일 : 2011-12-30 00:00:00 구입 가격 : 57.857143
판매일 : 2012-01-03 00:00:00 판매 가격 : 58.747143
구입일 : 2012-01-31 00:00:00 구입 가격 : 65.211426
판매일 : 2012-02-01 00:00:00 판매 가격 : 65.169998
구입일 : 2012-02-29 00:00:00 구입 가격 : 77.491432
판매일 : 2012-03-01 00:00:00 판매 가격 : 77.781425
구입일 : 2012-03-30 00:00:00 구입 가격 : 85.650002
판매일 : 2012-04-02 00:00:00 판매 가격 : 88.375717
구입일 : 2012-04-30 00:00:00 구입 가격 : 83.425713
판매일 : 2012-05-01 00:00:00 판매 가격 : 83.16143
구입일 : 2012-05-31 00:00:00 구입 가격 : 82.53286
판매일 : 2012-06-01 00:00:00 판매 가격 : 80.141426
구입일 : 2012-06-29 00:00:00 구입 가격 : 83.428574
판매일 : 2012-07-02 00:00:00 판매 가격 : 84.645714
구입일 : 2012-07-31 00:00:00 구입 가격 : 87.251427
판매일 : 2012-08-01 00:00:00 판매 가격 : 86.687141
구입일 : 2012-08-31 00:00:00 구입 가격 : 95.034286
판매일 : 2012-09-04 00:00:00 판매 가격 : 96.424286
구입일 : 2012-09-28 00:00:00 구입 가격 : 95.300003
판매일 : 2012-10-01 00:00:00 판매 가격 : 94.19857
구입일 : 2012-10-31 00:00:00 구입 가격 : 85.045715
판매일 : 2012-11-01 00:00:00 판매 가격 : 85.220001
구입일 : 2012-11-30 00:00:00 구입 가격 : 83.611427
판매일 : 2012-12-03 00:00:00 판매 가격 : 83.741432
구입일 : 2012-12-31 00:00:00 구입 가격 : 76.024284
판매일 : 2013-01-02 00:00:00 판매 가격 : 78.432854
구입일 : 2013-01-31 00:00:00 구입 가격 : 65.07
판매일 : 2013-02-01 00:00:00 판매 가격 : 64.802856
구입일 : 2013-12-31 00:00:00 구입 가격 : 80.145714
판매일 : 2014-01-02 00:00:00 판매 가격 : 79.01857
구입일 : 2014-01-31 00:00:00 구입 가격 : 71.514282
판매일 : 2014-02-03 00:00:00 판매 가격 : 71.647141
구입일 : 2014-02-28 00:00:00 구입 가격 : 75.177139
판매일 : 2014-03-03 00:00:00 판매 가격 : 75.394287
구입일 : 2014-03-31 00:00:00 구입 가격 : 76.677139
판매일 : 2014-04-01 00:00:00 판매 가격 : 77.378571
구입일 : 2014-04-30 00:00:00 구입 가격 : 84.298569
판매일 : 2014-05-01 00:00:00 판매 가격 : 84.497147
구입일 : 2014-05-30 00:00:00 구입 가격 : 90.428574
판매일 : 2014-06-02 00:00:00 판매 가격 : 89.807144
구입일 : 2014-06-30 00:00:00 구입 가격 : 92.93
판매일 : 2014-07-01 00:00:00 판매 가격 : 93.519997
구입일 : 2014-07-31 00:00:00 구입 가격 : 95.599998
판매일 : 2014-08-01 00:00:00 판매 가격 : 96.129997
구입일 : 2014-08-29 00:00:00 구입 가격 : 102.5
판매일 : 2014-09-02 00:00:00 판매 가격 : 103.300003
구입일 : 2014-09-30 00:00:00 구입 가격 : 100.75
판매일 : 2014-10-01 00:00:00 판매 가격 : 99.18
구입일 : 2014-10-31 00:00:00 구입 가격 : 108.0
판매일 : 2014-11-03 00:00:00 판매 가격 : 109.400002
구입일 : 2014-11-28 00:00:00 구입 가격 : 118.93
판매일 : 2014-12-01 00:00:00 판매 가격 : 115.07
구입일 : 2014-12-31 00:00:00 구입 가격 : 110.379997
판매일 : 2015-01-02 00:00:00 판매 가격 : 109.330002
구입일 : 2015-01-30 00:00:00 구입 가격 : 117.160004
판매일 : 2015-02-02 00:00:00 판매 가격 : 118.629997
구입일 : 2015-02-27 00:00:00 구입 가격 : 128.460007
판매일 : 2015-03-02 00:00:00 판매 가격 : 129.089996
구입일 : 2015-03-31 00:00:00 구입 가격 : 124.43
판매일 : 2015-04-01 00:00:00 판매 가격 : 124.25
구입일 : 2015-04-30 00:00:00 구입 가격 : 125.150002
판매일 : 2015-05-01 00:00:00 판매 가격 : 128.949997
구입일 : 2015-05-29 00:00:00 구입 가격 : 130.279999
판매일 : 2015-06-01 00:00:00 판매 가격 : 130.539993
구입일 : 2015-06-30 00:00:00 구입 가격 : 125.43
판매일 : 2015-07-01 00:00:00 판매 가격 : 126.599998
구입일 : 2015-07-31 00:00:00 구입 가격 : 121.300003
판매일 : 2015-08-03 00:00:00 판매 가격 : 118.440002
구입일 : 2015-08-31 00:00:00 구입 가격 : 112.760002
판매일 : 2015-09-01 00:00:00 판매 가격 : 107.720001
구입일 : 2015-09-30 00:00:00 구입 가격 : 110.300003
판매일 : 2015-10-01 00:00:00 판매 가격 : 109.580002
구입일 : 2015-10-30 00:00:00 구입 가격 : 119.5
판매일 : 2015-11-02 00:00:00 판매 가격 : 121.18
구입일 : 2015-11-30 00:00:00 구입 가격 : 118.300003
판매일 : 2015-12-01 00:00:00 판매 가격 : 117.339996
구입일 : 2015-12-31 00:00:00 구입 가격 : 105.260002
판매일 : 2016-01-04 00:00:00 판매 가격 : 105.349998
구입일 : 2016-12-30 00:00:00 구입 가격 : 115.82
판매일 : 2017-01-03 00:00:00 판매 가격 : 116.150002
구입일 : 2017-01-31 00:00:00 구입 가격 : 121.349998
판매일 : 2017-02-01 00:00:00 판매 가격 : 128.75
구입일 : 2017-02-28 00:00:00 구입 가격 : 136.990005
판매일 : 2017-03-01 00:00:00 판매 가격 : 139.789993
구입일 : 2017-03-31 00:00:00 구입 가격 : 143.660004
판매일 : 2017-04-03 00:00:00 판매 가격 : 143.699997
구입일 : 2017-04-28 00:00:00 구입 가격 : 143.649994
판매일 : 2017-05-01 00:00:00 판매 가격 : 146.580002
구입일 : 2017-05-31 00:00:00 구입 가격 : 152.759995
판매일 : 2017-06-01 00:00:00 판매 가격 : 153.179993
구입일 : 2017-06-30 00:00:00 구입 가격 : 144.020004
판매일 : 2017-07-03 00:00:00 판매 가격 : 143.5
구입일 : 2017-07-31 00:00:00 구입 가격 : 148.729996
판매일 : 2017-08-01 00:00:00 판매 가격 : 150.050003
구입일 : 2017-08-31 00:00:00 구입 가격 : 164.0
판매일 : 2017-09-01 00:00:00 판매 가격 : 164.050003
구입일 : 2017-09-29 00:00:00 구입 가격 : 154.119995
판매일 : 2017-10-02 00:00:00 판매 가격 : 153.809998
구입일 : 2017-10-31 00:00:00 구입 가격 : 169.039993
판매일 : 2017-11-01 00:00:00 판매 가격 : 166.889999
구입일 : 2017-11-30 00:00:00 구입 가격 : 171.850006
판매일 : 2017-12-01 00:00:00 판매 가격 : 171.050003
구입일 : 2017-12-29 00:00:00 구입 가격 : 169.229996
판매일 : 2018-01-02 00:00:00 판매 가격 : 172.259995
구입일 : 2018-01-31 00:00:00 구입 가격 : 167.429993
판매일 : 2018-02-01 00:00:00 판매 가격 : 167.779999
구입일 : 2018-02-28 00:00:00 구입 가격 : 178.119995
판매일 : 2018-03-01 00:00:00 판매 가격 : 175.0
구입일 : 2018-03-29 00:00:00 구입 가격 : 167.779999
판매일 : 2018-04-02 00:00:00 판매 가격 : 166.679993
구입일 : 2018-04-30 00:00:00 구입 가격 : 165.259995
판매일 : 2018-05-01 00:00:00 판매 가격 : 169.100006
구입일 : 2018-05-31 00:00:00 구입 가격 : 186.869995
판매일 : 2018-06-01 00:00:00 판매 가격 : 190.240005
구입일 : 2018-06-29 00:00:00 구입 가격 : 185.110001
판매일 : 2018-07-02 00:00:00 판매 가격 : 187.179993
구입일 : 2018-07-31 00:00:00 구입 가격 : 190.289993
판매일 : 2018-08-01 00:00:00 판매 가격 : 201.5
구입일 : 2018-08-31 00:00:00 구입 가격 : 227.630005
판매일 : 2018-09-04 00:00:00 판매 가격 : 228.360001
구입일 : 2018-09-28 00:00:00 구입 가격 : 225.740005
판매일 : 2018-10-01 00:00:00 판매 가격 : 227.259995
구입일 : 2018-10-31 00:00:00 구입 가격 : 218.860001
판매일 : 2018-11-01 00:00:00 판매 가격 : 222.220001
구입일 : 2018-11-30 00:00:00 구입 가격 : 178.580002
판매일 : 2018-12-03 00:00:00 판매 가격 : 184.820007
구입일 : 2018-12-31 00:00:00 구입 가격 : 157.740005
판매일 : 2019-01-02 00:00:00 판매 가격 : 157.919998
구입일 : 2019-03-29 00:00:00 구입 가격 : 189.949997
판매일 : 2019-04-01 00:00:00 판매 가격 : 191.240005
구입일 : 2019-04-30 00:00:00 구입 가격 : 200.669998
판매일 : 2019-05-01 00:00:00 판매 가격 : 210.520004
구입일 : 2019-05-31 00:00:00 구입 가격 : 175.070007
판매일 : 2019-06-03 00:00:00 판매 가격 : 173.300003
1.3477747191432985

                 Close   STD-YM trade  return   acc_rtn
Date
2010-01-04   30.572857  2010-01           1.0  1.000000
2010-01-05   30.625713  2010-01           1.0  1.000000
2010-01-06   30.138571  2010-01           1.0  1.000000
2010-01-07   30.082857  2010-01           1.0  1.000000
2010-01-08   30.282858  2010-01           1.0  1.000000
...                ...      ...   ...     ...       ...
2019-06-18  198.449997  2019-06           1.0  1.347775
2019-06-19  197.869995  2019-06           1.0  1.347775
2019-06-20  199.460007  2019-06           1.0  1.347775
2019-06-21  198.779999  2019-06           1.0  1.347775
2019-06-24  199.169998  2019-06           1.0  1.347775

[2384 rows x 5 columns]

In [7]:
test.buyandhold()

                 Close  daily_rtn    st_rtn
Date
2010-01-04   30.572857        NaN       NaN
2010-01-05   30.625713   0.001729  1.001729
2010-01-06   30.138571  -0.015906  0.985795
2010-01-07   30.082857  -0.001849  0.983973
2010-01-08   30.282858   0.006648  0.990514
...                ...        ...       ...
2019-06-18  198.449997   0.023518  6.491052
2019-06-19  197.869995  -0.002923  6.472081
2019-06-20  199.460007   0.008036  6.524088
2019-06-21  198.779999  -0.003409  6.501846
2019-06-24  199.169998   0.001962  6.514602

[2384 rows x 3 columns]

In [8]:
test.bollinger()

진입일 : 2010-01-22 구매 가격 : 28.25
판매일 : 2010-03-01 판매 가격 : 29.855715 수익율 : 1.0568394690265486
진입일 : 2010-08-24 구매 가격 : 34.275715
판매일 : 2010-09-08 판매 가격 : 37.560001 수익율 : 1.0958196203930393
진입일 : 2011-03-16 구매 가격 : 47.144287
판매일 : 2011-07-01 판매 가격 : 49.037144 수익율 : 1.0401502943506178
진입일 : 2011-11-14 구매 가격 : 54.18
판매일 : 2011-12-27 판매 가격 : 58.075714 수익율 : 1.0719031746031746
진입일 : 2012-04-16 구매 가격 : 82.875717
판매일 : 2012-06-18 판매 가격 : 83.682854 수익율 : 1.0097391253942336
진입일 : 2012-10-08 구매 가격 : 91.167145
판매일 : 2013-07-29 판매 가격 : 63.970001 수익율 : 0.701678230682775
진입일 : 2013-09-11 구매 가격 : 66.815712
판매일 : 2013-10-18 판매 가격 : 72.69857 수익율 : 1.0880460272577803
진입일 : 2014-01-03 구매 가격 : 77.28286
판매일 : 2014-03-25 판매 가격 : 77.855713 수익율 : 1.0074124197784604
진입일 : 2014-10-15 구매 가격 : 97.540001
판매일 : 2014-10-23 판매 가격 : 104.830002 수익율 : 1.0747385782782592
진입일 : 2014-12-12 구매 가격 : 109.730003
판매일 : 2015-01-28 판매 가격 : 115.309998 수익율 : 1.0508520445406349
진입일 : 2015-03-11 구매 가격 : 122.239998
판매일 : 2015-04-23 판매 가격 : 129.669998 수익율 : 1.0607820690572982
진입일 : 2015-06-29 구매 가격 : 124.529999
판매일 : 2015-07-20 판매 가격 : 132.070007 수익율 : 1.0605477239263448
진입일 : 2015-08-04 구매 가격 : 114.639999
판매일 : 2015-10-22 판매 가격 : 115.5 수익율 : 1.0075017533801618
진입일 : 2015-12-14 구매 가격 : 112.480003
판매일 : 2016-03-01 판매 가격 : 100.529999 수익율 : 0.8937588577411401
진입일 : 2016-04-27 구매 가격 : 97.82
판매일 : 2016-05-25 판매 가격 : 99.620003 수익율 : 1.018401175628706
진입일 : 2016-06-20 구매 가격 : 95.099998
판매일 : 2016-07-18 판매 가격 : 99.830002 수익율 : 1.0497371619292777
진입일 : 2016-09-09 구매 가격 : 103.129997
판매일 : 2016-09-14 판매 가격 : 111.769997 수익율 : 1.083777758667054
진입일 : 2016-11-01 구매 가격 : 111.489998
판매일 : 2016-12-13 판매 가격 : 115.190002 수익율 : 1.0331868693728024
진입일 : 2017-06-09 구매 가격 : 148.979996
판매일 : 2017-07-13 판매 가격 : 147.770004 수익율 : 0.9918781579239672
진입일 : 2017-09-20 구매 가격 : 156.070007
판매일 : 2017-10-16 판매 가격 : 159.880005 수익율 : 1.0244121088557394
진입일 : 2018-01-29 구매 가격 : 167.960007
판매일 : 2018-05-04 판매 가격 : 183.830002 수익율 : 1.0944867488604
진입일 : 2018-06-25 구매 가격 : 182.169998
판매일 : 2018-08-01 판매 가격 : 201.5 수익율 : 1.106109689917217
진입일 : 2018-11-02 구매 가격 : 207.479996
판매일 : 2019-01-30 판매 가격 : 165.25 수익율 : 0.796462324975175
진입일 : 2019-05-13 구매 가격 : 185.720001
누적 수익율 : 1.3455319720547656

,Close,center,ub,lb,trade,return,acc_rtn
Date,,,,,,,
2010-01-04,30.572857,28.580929,30.874244,26.287614,,1.0,1.000000
2010-01-05,30.625713,28.731357,31.149766,26.312948,,1.0,1.000000
2010-01-06,30.138571,28.888643,31.239205,26.538081,,1.0,1.000000
2010-01-07,30.082857,29.036571,31.289988,26.783154,,1.0,1.000000
2010-01-08,30.282858,29.137857,31.425605,26.850109,,1.0,1.000000
...,...,...,...,...,...,...,...
2019-06-18,198.449997,185.432500,201.032574,169.832427,buy,1.0,1.345532
2019-06-19,197.869995,185.996000,202.558154,169.433846,buy,1.0,1.345532
2019-06-20,199.460007,186.830000,204.361771,169.298229,buy,1.0,1.345532
2019-06-21,198.779999,187.786000,205.751400,169.820600,buy,1.0,1.345532
2019-06-24,199.169998,188.796000,206.944862,170.647138,buy,1.0,1.345532