# 문제 
1. emp table에서 SAL 1000이상이고 3000미만인 사원의 정보를 출력
2. emp, dept를 left join을 이용하여 결합한 뒤 부서의 위치가 'NEW YORK'인 데이터를 출력

In [ ]:
import mod_sql

In [ ]:
# 클래스를 생성
db = mod_sql.Database('localhost', 'root', '1234', 'ubion_test', 3306)

In [ ]:
sql = """
    select 
    * 
    from 
    emp
    where
    (SAL >= 1000) 
    and 
    (SAL < 3000)
"""
db.sql_query(sql)

In [ ]:
sql  = """
    select 
    * 
    from 
    emp 
    left join 
    dept 
    on 
    emp.DEPTNO = dept.DEPTNO
    where 
    LOC = 'NEW YORK'
"""

db.sql_query(sql)

1. emp, dept를 right join 결합 
2. 부서번호가 40인 데이터만 출력

In [9]:
sql = """
    select 
    * 
    from 
    emp 
    right join 
    dept 
    on 
    emp.DEPTNO = dept.DEPTNO 
    where 
    emp.DEPTNO = 40
    or
    dept.DEPTNO = 40
"""

db.sql_query(sql)

,EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,dept.DEPTNO,DNAME,LOC
0,None,None,None,None,None,None,None,None,40.0,OPERATIONS,BOSTON