# mongodb 
1. 라이브러리 설치 
2. 라이브러리 로드 
3. CRUD

In [ ]:
!pip install pymongo

In [ ]:
from pymongo import MongoClient

In [ ]:
client = MongoClient(
    host = 'localhost', 
    port = 27017
)

In [ ]:
# mongodb에 있는 데이터베이스의 목록 출력
client.list_database_names()

In [ ]:
# 데이터베이스를 선택
db = client['ubion']

In [ ]:
# collection 접근 (collection은 sql에서 table과 같은 의미)
collection = db['test2']

In [ ]:
# CRUD -> C
# create -> insert()
# insert_one() / insert_many()
data = {
    'id' : 'test', 
    'pass' : '1234'
}
collection.insert_one(data)

In [ ]:
collection.find_one()

In [ ]:
data = [
    {
        'name' : 'test1', 
        'phone': '01011112222', 
        'gender' : 'male'
    }, 
    {
        'loc' : 'seoul'
    }
]
collection.insert_many(data)

In [ ]:
list(collection.find())

1. sql에서 test table에서 name이 test1인 경우의 데이터를 출력
    - select * from test where name = 'test1'

In [ ]:
list(collection.find({"name" : "test1"}))

1. 해당하는 컬럼의 데이터만 출력하려면
    - select name from test

In [ ]:
list(collection.find({}, {'name':1}))

1. 데이터의 수정
    - update test set pass = '0000' where id = 'test'
    - test 테이블에 id가 test인 데이터에서 pass의 값을 0000으로 수정하겠다

In [ ]:
collection.update_one(
    {
        "id" : "test"
    }, 
    {
        "$set" : {
            'pass' : '0000'
        }
    }
)

In [ ]:
collection.find_one()

1. 데이터의 삭제
    - delete from test where id = 'test'
    - test 테이블에서 id가 'test'인 데이터를 삭제

In [ ]:
collection.delete_one(
    {
        'id' : 'test'
    }
)

In [ ]:
list(collection.find())

In [22]:
list(client['ubion']['test2'].find())

[{'_id': ObjectId('643f8cbb19ef164a697b9695'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f8cbb19ef164a697b9696'), 'loc': 'seoul'}]

### mongodb select 조건식

- find(옵션1, 옵션, 옵션3, ... , 컬럼 선택)

    1. db.collection.find() -> select * from TABLE
    2. db.collection.find({}, {"id":1, "pass":1}) -> select id, pass from TABLE
    3. db.collection.find({}, {"id":1, "pass":1, "_id" : 0}) -> 2번과정과 같은 sql문이지만 _id를 보여주지 않겠다
    4. db.collection.find({"id":"test"}) -> select * from TABLE where id = 'test'
    5. db.collection.find({"id":"test", "pass":"1234"}) -> select * from TABLE where id = 'test' and pass = '1234'
    6. db.collection.find({"id":"test"}, {"pass":"1234"}) -> select * from TABLE where id = 'test' or pass = '1234'
    7. db.collection.find({"age" : {"$gt" : 25}}) -> select * from TABLE where age > 25
    8. db.collection.find({"age" : {"$lt" : 25}}) - > select * from TABLE whrer age < 25
    9. db.collection.find({"id": {/bc/}}) -> select * from TABLE where id like '%bc%'
    10. db.collection.find().sort({"id":1}) -> select * from TABLE order by id ASC
    11. db.collection.find().sort({"id":-1}) -> select * from TABLE order by id DESC
    12. db.collection.find().limit(10) -> select * from TABLE limit 10