In [ ]:
!pip install pandas

In [ ]:
# 라이브러리 로드 
import pandas as pd

In [ ]:
# 스리즈 형태 데이터를 생성 
pd_list = pd.Series([5000, 6000, 6500, 6500], 
                    index=['아메리카노', '카페라떼', '카페모카', '카푸치노'])

In [ ]:
print(pd_list)

In [ ]:
print('스리즈 형태의 데이터에서 index의 값은 : ', pd_list.index)
print('스리즈 형태의 데이터에서 value의 값은 : ', pd_list.values)

In [ ]:
# 2차원 데이터셋
# 데이터프레임 생성
_value = [[1,2,3], [4,5,6], [7,8,9]]
_index = ['a', 'b', 'c']
_column = ['A', 'B', 'C']

df = pd.DataFrame(_value, index = _index, columns = _column)
df

In [ ]:
print("데이터프레임의 인덱스의 값 ", df.index)
print("데이터프레임의 컬럼의 값 ", df.columns)
print("데이터프레임에서 벨류의 값 ", df.values)

In [ ]:
# 딕셔너리 형태의 데이터를 가지고 dataframe 생성
_value = {
    "name" : ["test", "test2", "test3"], 
    "age" : [20, 30, 25], 
    "phone" : ["01012345678", "01098765432", "01011112222"]
}
print(_value)

In [ ]:
df2 = pd.DataFrame(_value)
df2

In [ ]:
df2['name']

In [ ]:
df2.name

In [25]:
df2.columns = ['df2', 0, 'phone']

In [28]:
df2[0]

0    20
1    30
2    25
Name: 0, dtype: int64

### 경로
1. 절대 경로
    - 절대적인 경로
    - 환경이 변하더라도 같은 위치를 지정
    - ex) c:/users/user/document/a.txt, 인터넷 url 
2. 상대 경로
    - 상대적인 경로
    - 환경에 따라 위치가 달라진다. 
    - ./ : 현재 파일의 경로
    - ../ : 현재 경로에서 상위 폴더로 이동
    - 폴더명/ : 해당하는 하위 폴더로 이동

In [ ]:
# 코로나 데이터를 로드 
# 현재 파일의 경로에서 상위 폴더로 이동 CSV 하위 폴더 이동 corona.csv
# 상대 경로로 파일의 위치를 지정
pd.read_csv("../csv/corona.csv")

In [33]:
# 절대 경로로 파일의 위치를 지정
df = pd.read_csv("C:\\Users\\moons\\Documents\\GitHub\\ubion_7\\csv\\corona.csv")

In [ ]:
# chipotle.tsv 파일을 로드 
# 현재 경로에서 상위 폴더로 이동 csv 하위폴더로 이동 num_1 하위폴더 이동 이곳에 있는 파일 로드 
pd.read_csv('../csv/num_1/chipotle.tsv', sep="\t")

In [ ]:
# json 파일 로드 
# read_json()
# csv 폴더 안에 있는 2019폴더에 파일 하나 오픈 
pd.read_json("../csv/2019/201901_expense_list.json")

In [ ]:
# xlsx 파일 로드 
# read_excel()
# csv 폴더 안에 있는 2020폴더에 파일 하나 오픈
pd.read_excel("../csv/2020/202001_expense_list.xlsx")

df.info()

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

### 결측치

In [39]:
import pandas as pd
import numpy as np

In [41]:
_value = [
    [1,2,3], 
    [4,np.nan,6],
    [7,8,np.nan]
]
df = pd.DataFrame(_value)
df

   0    1    2
0  1  2.0  3.0
1  4  NaN  6.0
2  7  8.0  NaN

In [42]:
# 결측치를 확인
# 데이터프레임의 정보를 확인 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       2 non-null      float64
 2   2       2 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 200.0 bytes

In [44]:
# is()함수를 사용하여 결측치를 확인
# isna() 함수 사용
df.isna().sum()

0    0
1    1
2    1
dtype: int64

In [45]:
df

   0    1    2
0  1  2.0  3.0
1  4  NaN  6.0
2  7  8.0  NaN

In [47]:
# 결측치를 제거
# dropna()는 결측치를 제거 하는 함수
# 매개변수 axis : 0, 'rows' 을 대입하면 해당하는 행을 삭제
#               1, 'columns' 대입하면 해당하는 열을 삭제
df.dropna(axis = 1)

   0
0  1
1  4
2  7