In [ ]:
!pip install pandas

In [ ]:
# 라이브러리 로드 
import pandas as pd

In [ ]:
# 스리즈 형태 데이터를 생성 
pd_list = pd.Series([5000, 6000, 6500, 6500], 
                    index=['아메리카노', '카페라떼', '카페모카', '카푸치노'])

In [ ]:
print(pd_list)

In [ ]:
print('스리즈 형태의 데이터에서 index의 값은 : ', pd_list.index)
print('스리즈 형태의 데이터에서 value의 값은 : ', pd_list.values)

In [14]:
# 2차원 데이터셋
# 데이터프레임 생성
_value = [[1,2,3], [4,5,6], [7,8,9]]
_index = ['a', 'b', 'c']
_column = ['A', 'B', 'C']

df = pd.DataFrame(_value, index = _index, columns = _column)
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [15]:
print("데이터프레임의 인덱스의 값 ", df.index)
print("데이터프레임의 컬럼의 값 ", df.columns)
print("데이터프레임에서 벨류의 값 ", df.values)

데이터프레임의 인덱스의 값  Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 컬럼의 값  Index(['A', 'B', 'C'], dtype='object')
데이터프레임에서 벨류의 값  [[1 2 3]
 [4 5 6]
 [7 8 9]]