In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\moons\appdata\local\programs\python\python311\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\moons\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\moons\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\moons\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\moons\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# 라이브러리 로드 
import pandas as pd

In [3]:
# 스리즈 형태 데이터를 생성 
pd_list = pd.Series([5000, 6000, 6500, 6500], 
                    index=['아메리카노', '카페라떼', '카페모카', '카푸치노'])

In [4]:
print(pd_list)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [5]:
print('스리즈 형태의 데이터에서 index의 값은 : ', pd_list.index)
print('스리즈 형태의 데이터에서 value의 값은 : ', pd_list.values)

스리즈 형태의 데이터에서 index의 값은 :  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')
스리즈 형태의 데이터에서 value의 값은 :  [5000 6000 6500 6500]

In [6]:
# 2차원 데이터셋
# 데이터프레임 생성
_value = [[1,2,3], [4,5,6], [7,8,9]]
_index = ['a', 'b', 'c']
_column = ['A', 'B', 'C']

df = pd.DataFrame(_value, index = _index, columns = _column)
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [7]:
print("데이터프레임의 인덱스의 값 ", df.index)
print("데이터프레임의 컬럼의 값 ", df.columns)
print("데이터프레임에서 벨류의 값 ", df.values)

데이터프레임의 인덱스의 값  Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 컬럼의 값  Index(['A', 'B', 'C'], dtype='object')
데이터프레임에서 벨류의 값  [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [8]:
# 딕셔너리 형태의 데이터를 가지고 dataframe 생성
_value = {
    "name" : ["test", "test2", "test3"], 
    "age" : [20, 30, 25], 
    "phone" : ["01012345678", "01098765432", "01011112222"]
}
print(_value)

{'name': ['test', 'test2', 'test3'], 'age': [20, 30, 25], 'phone': ['01012345678', '01098765432', '01011112222']}

In [9]:
df2 = pd.DataFrame(_value)
df2

    name  age        phone
0   test   20  01012345678
1  test2   30  01098765432
2  test3   25  01011112222

In [10]:
df2['name']

0     test
1    test2
2    test3
Name: name, dtype: object

In [11]:
df2.name

0     test
1    test2
2    test3
Name: name, dtype: object

In [12]:
df2.columns = ['df2', 0, 'phone']

In [13]:
df2[0]

0    20
1    30
2    25
Name: 0, dtype: int64

### 경로
1. 절대 경로
    - 절대적인 경로
    - 환경이 변하더라도 같은 위치를 지정
    - ex) c:/users/user/document/a.txt, 인터넷 url 
2. 상대 경로
    - 상대적인 경로
    - 환경에 따라 위치가 달라진다. 
    - ./ : 현재 파일의 경로
    - ../ : 현재 경로에서 상위 폴더로 이동
    - 폴더명/ : 해당하는 하위 폴더로 이동

In [14]:
# 코로나 데이터를 로드 
# 현재 파일의 경로에서 상위 폴더로 이동 CSV 하위 폴더 이동 corona.csv
# 상대 경로로 파일의 위치를 지정
pd.read_csv("../csv/corona.csv")

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308

In [15]:
# 절대 경로로 파일의 위치를 지정
df = pd.read_csv("C:\\Users\\moons\\Documents\\GitHub\\ubion_7\\csv\\corona.csv")

In [16]:
# chipotle.tsv 파일을 로드 
# 현재 경로에서 상위 폴더로 이동 csv 하위폴더로 이동 num_1 하위폴더 이동 이곳에 있는 파일 로드 
pd.read_csv('../csv/num_1/chipotle.tsv', sep="\t")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [17]:
# json 파일 로드 
# read_json()
# csv 폴더 안에 있는 2019폴더에 파일 하나 오픈 
pd.read_json("../csv/2019/201901_expense_list.json")

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,expense_budget,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount
0,17506661,2019년1월 국제교류담당관 업무추진비 내역,http://opengov.seoul.go.kr/public/17506661,서울시본청,기획조정실,국제교류담당관,,,2019,1,NaN,NaN,,기획조정실 국제교류담당관,2019-01-31 19:57,구이구이 서울특별시 중구 을지로 6,도시외교 기본계획 개선관련 연구용역 및 협력방안 논의 간담회,국제교류담당관 등 6명,카드,143000
1,17506661,2019년1월 국제교류담당관 업무추진비 내역,http://opengov.seoul.go.kr/public/17506661,서울시본청,기획조정실,국제교류담당관,,,2019,1,NaN,NaN,,기획조정실 국제교류담당관,2019-01-31 12:39,왕비집 시청무교점 서울특별시 중구 무교로 19,서울평화포럼 준비위원회 구성 및 향후 추진방향 논의,국제교류담당관 등 3명,카드,24000
2,17506661,2019년1월 국제교류담당관 업무추진비 내역,http://opengov.seoul.go.kr/public/17506661,서울시본청,기획조정실,국제교류담당관,,,2019,1,NaN,NaN,,기획조정실 국제교류담당관,2019-01-30 19:18,반포식스 서울 중구 무교동 24-2,중국 순방 지원 근무 관련 협의 간담회 비용 지급,중국팀장 등 6명,카드,84000
3,17506661,2019년1월 국제교류담당관 업무추진비 내역,http://opengov.seoul.go.kr/public/17506661,서울시본청,기획조정실,국제교류담당관,,,2019,1,NaN,NaN,,기획조정실 국제교류담당관,2019-01-30 14:01,(주)에스지다인힐붓처스컷광화 서울 중구 세종대로 136,서울평화포럼(가칭) 연사 초청 등 관련 자문 간담회,국제관계대사 등 4명,카드,78000
4,17506661,2019년1월 국제교류담당관 업무추진비 내역,http://opengov.seoul.go.kr/public/17506661,서울시본청,기획조정실,국제교류담당관,,,2019,1,NaN,NaN,,기획조정실 국제교류담당관,2019-01-29 20:10,주식회사 크라운에셋 서울 중구 남대문로7길 19,글로벌파트너스 기능 및 이관사업 범위 논의 간담회,국제교류담당관 등 10명,카드,251000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6387,18589314,2019년 1월 사업소 시립미술관 북서울미술관 운영과 업무추진비 - 전체,http://opengov.seoul.go.kr/public/18589314,사업소,시립미술관,북서울미술관,운영과,,2019,1,NaN,NaN,,운영과,2019-01-18 12:27,아늑한연어(노원구 동이로203가길29),운영과 문화행사 및 홍보등 업무추진 직원 격려 비용,운영부장외 7명,카드,80000
6388,18589314,2019년 1월 사업소 시립미술관 북서울미술관 운영과 업무추진비 - 전체,http://opengov.seoul.go.kr/public/18589314,사업소,시립미술관,북서울미술관,운영과,,2019,1,NaN,NaN,,운영과,2019-01-14 12:22,해주곰탕찹쌀순대(노원구 공릉로 360),공무직 촉탁근로자 현안업무 추진관련 소통 간담회,운영부장외 7명,카드,78000
6389,18589314,2019년 1월 사업소 시립미술관 북서울미술관 운영과 업무추진비 - 전체,http://opengov.seoul.go.kr/public/18589314,사업소,시립미술관,북서울미술관,운영과,,2019,1,NaN,NaN,,운영과,2019-01-11 12:33,아늑한연어(노원구 동이로203가길29),운영과 동절기 시설물관리 직원 격려 비용,운영부장외 6명,카드,52000
6390,18589314,2019년 1월 사업소 시립미술관 북서울미술관 운영과 업무추진비 - 전체,http://opengov.seoul.go.kr/public/18589314,사업소,시립미술관,북서울미술관,운영과,,2019,1,NaN,NaN,,운영과,2019-01-04 12:29,아늑한연어(노원구 동이로203가길29),2019년 운영과 주업업무 및 현안업무추진 소통 간담회 비용,운영부장외 8명,카드,113000
6391,18589314,2019년 1월 사업소 시립미술관 북서울미술관 운영과 업무추진비 - 전체,http://opengov.seoul.go.kr/public/18589314,사업소,시립미술관,북서울미술관,운영과,,2019,1,NaN,NaN,,운영과,2019-01-03 12:17,스시다네(노원구 한글비석로1길33),2019년 전시 및 문화행사 홍보에 관한 간담회,운영부장외 11명,카드,120000

In [18]:
# xlsx 파일 로드 
# read_excel()
# csv 폴더 안에 있는 2020폴더에 파일 하나 오픈
pd.read_excel("../csv/2020/202001_expense_list.xlsx")

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,expense_budget,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount
0,21789676,2020년 1월 사업소 서울식물원 시설운영과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21789676,사업소,서울식물원,시설운영과,NaN,NaN,2020,1,NaN,NaN,NaN,푸른도시국 서울식물원 시설운영과,2020-01-22 10:25,코코호도마곡나루역점(강서구 마곡중앙5로 6),부서 전출직원 간담회 비용,이형선 외 3인,카드,30000
1,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-29 08:55,"㈜한국문화진흥(강남구 강남대로 636, 두원빌딩2층)",2020년도 1월 생일자 격려상품 구매,1월 직원 생일자 12명,카드,216720
2,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-28 12:05,스시사도(영등포구 여의대방로23길 20),2020년 상반기 학교아리수 음수대 감면 간담회 경비지급,"박영준,이상봉,이재욱,이대영,김춘근,김근태,박화준,박병국,조승용,전윤수",카드,124000
3,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-23 11:59,올갱이나라(영등포구 대방천로 234),2020년 설연휴기간 급수대책 및 수질관리 간담회 경비지급,"김지형,신민철,서영식,최신,이혜숙,여종순",카드,48000
4,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-23 14:45,두드림유통(동작구 보라매로19길 8),2020년 민원실 직원 격려 물품구매 경비지급,해당사항없음,카드,63310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5277,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 19:57,곰국시집(중구 무교로 24),박물관도시 서울 추진회의 결과 검토 간담회,시민소통기획관 외 3명,제로페이,60000
5278,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 13:04,세림(중구 을지로),시정 협력 관련 유관기관 업무협의 간담회,대외협력보좌관 외 2명,카드,51000
5279,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 12:20,더미시청점(중구 남대문로9길),제로페이 추진경과 검토 간담회,시민소통담당관 외 3명,제로페이,40000
5280,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-10 22:20,통인스윗팩토리(종로구 필운대로),시정 운영 관련 유관기관 업무협의 간담회,정무비서관 외 2명,카드,51000
5281,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-10 21:05,(주)에프아이티시스템(종로구 누하동),시정 소통협력을 위한 유관기관 의견수렴 간담회,정무수석 외 6명,카드,162000

df.info()

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  820 non-null    int64
 1   createDt    820 non-null    object
 2   deathCnt    820 non-null    int64
 3   decideCnt   820 non-null    int64
 4   seq         820 non-null    int64
 5   stateDt     820 non-null    int64
 6   stateTime   820 non-null    object
 7   updateDt    817 non-null    object
 8   accExamCnt  692 non-null    float64
 9   accDefRate  623 non-null    float64
dtypes: float64(2), int64(5), object(3)
memory usage: 64.2+ KB

### 결측치

In [20]:
import pandas as pd
import numpy as np

In [21]:
_value = [
    [1,2,3], 
    [4,np.nan,6],
    [7,8,np.nan]
]
df = pd.DataFrame(_value)
df

   0    1    2
0  1  2.0  3.0
1  4  NaN  6.0
2  7  8.0  NaN

In [22]:
# 결측치를 확인
# 데이터프레임의 정보를 확인 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       2 non-null      float64
 2   2       2 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 200.0 bytes

In [23]:
# is()함수를 사용하여 결측치를 확인
# isna() 함수 사용
df.isna().sum()

0    0
1    1
2    1
dtype: int64

In [24]:
df

   0    1    2
0  1  2.0  3.0
1  4  NaN  6.0
2  7  8.0  NaN

In [25]:
# 결측치를 제거
# dropna()는 결측치를 제거 하는 함수
# 매개변수 axis : 0, 'rows' 을 대입하면 해당하는 행을 삭제
#               1, 'columns' 대입하면 해당하는 열을 삭제
df.dropna(axis = 1)

   0
0  1
1  4
2  7

In [26]:
# sales 데이터 로드 
sales = pd.read_csv("../csv/Sales Records.csv")
sales.head(2)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.0
1,Europe,Latvia,Beverages,Online,C,12/28/2015,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.5

In [35]:
sales.sort_values('Region', inplace=True)

In [36]:
sales

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
9999,Asia,Mongolia,Snacks,Offline,M,4/12/2016,824410903,4/16/2016,361,152.58,97.44,55081.38,35175.84,19905.54
5883,Asia,India,Household,Online,M,11/21/2011,207904517,12/12/2011,2422,668.27,502.54,1618549.94,1217151.88,401398.06
5898,Asia,Turkmenistan,Vegetables,Offline,M,6/21/2014,958792150,8/2/2014,6758,154.06,90.93,1041137.48,614504.94,426632.54
5903,Asia,Uzbekistan,Baby Food,Online,C,10/5/2010,991403090,11/1/2010,7060,255.28,159.42,1802276.80,1125505.20,676771.60
5914,Asia,China,Vegetables,Offline,H,6/1/2010,414756047,6/15/2010,4386,154.06,90.93,675707.16,398818.98,276888.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,Sub-Saharan Africa,Uganda,Fruits,Online,L,1/28/2014,608215844,3/2/2014,3439,9.33,6.92,32085.87,23797.88,8287.99
828,Sub-Saharan Africa,Nigeria,Meat,Online,C,4/28/2015,202322518,6/11/2015,584,421.89,364.69,246383.76,212978.96,33404.80
7850,Sub-Saharan Africa,South Africa,Personal Care,Online,C,5/21/2016,514903295,6/16/2016,182,81.73,56.67,14874.86,10313.94,4560.92
5178,Sub-Saharan Africa,Swaziland,Meat,Offline,H,6/3/2017,349401128,6/23/2017,4413,421.89,364.69,1861800.57,1609376.97,252423.60
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.00

In [27]:
flg = sales['Region'] == 'Asia'

In [44]:
# 데이터 프레임 필터 기능
# loc[행의 조건, 열의 조건]
# 행의 조건을 가지고 필터
sales.loc[~flg]
# 열의 조건을 가지고 필터
sales.loc[:, ['Region']]
# 행과 열의 조건을 모두 적용시켜서 필터
sales.loc[flg, ['Region']]



# iloc[행의 위치, 열의 위치]
sales.iloc[1:3, 1:3]


# sales.loc[1:3]

           Country   Item Type
5883         India   Household
5898  Turkmenistan  Vegetables

In [32]:
sales[['Region']]

                            Region
0               Sub-Saharan Africa
1                           Europe
2     Middle East and North Africa
3               Sub-Saharan Africa
4                           Europe
...                            ...
9995                          Asia
9996                        Europe
9997            Sub-Saharan Africa
9998            Sub-Saharan Africa
9999                          Asia

[10000 rows x 1 columns]

In [52]:
# 결측치가 포함된 데이터만 필터
df.columns = ['A', 'B', 'C']
flg_na = df.isna().any(axis=1)

In [53]:
flg_na

0    False
1     True
2     True
dtype: bool

In [51]:
df

   A    B    C
0  1  2.0  3.0
1  4  NaN  6.0
2  7  8.0  NaN

In [55]:
df.loc[~flg_na]

   A    B    C
0  1  2.0  3.0

In [ ]:
sales.isna().sum()

In [59]:
uriage = pd.read_csv("../csv/uriage.csv")

In [60]:
# 결측치를 확인 
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [61]:
uriage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [63]:
# 결측치가 존재하는 조건 생성
uriage.isna().any(1)

C:\Users\moons\AppData\Local\Temp\ipykernel_9492\1321909516.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  uriage.isna().any(1)

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Length: 2999, dtype: bool

In [ ]:
uriage.loc[~(uriage.isna().any(1))]

In [67]:
uriage.dropna(axis=0)

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
3     2019-02-12 23:40       상품Z      2600.0           김재현
5     2019-03-20 19:16       상품S      1900.0           김우진
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
...                ...       ...         ...           ...
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2998   2019-07-21 0:31       상품D       400.0           정준기

[2612 rows x 4 columns]

In [ ]:
# 통계 요약 정보 출력하는 함수
sales.describe()