# 볼린저 밴드 함수화
1. 첫 번째 함수를 생성(매개변수 데이터프레임 하나)
    1. 결측치와 이상치를 제거한다. 
    2. 컬럼을 종가만 두고 모두 삭제
    3. 이동 평균선, 상단 밴드, 하단 밴드 파생변수 생성
2. 두 번째 함수를 생성(매개변수 데이터프레임 하나)
    1. 거래 내역이라는 파생 변수 생성 값은 ""
    2. 볼린저 밴드의 거래 내역을 추가
    3. 거래 내역을 출력(print) 
3. 세 번째 함수를 생성(매개변수 데이터프레임 하나)
    1. 수익율 파생변수 생성 값은 "1"
    2. 판매를 한 날의 수익율 변경
    3. 누적 수익율을 계산하여 새로운 파생변수를 생성
    4. 최종 누적 수익율을 출력(print)

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

In [42]:
# 1번 함수 생성
# 매개 변수 추가 
def create_band(df, col, start, end):
    # 인덱스를 시계열로 변경
    df.index = pd.to_datetime(df.index)
    # start, end를 시계열로 변경
    start = datetime.strptime(start, '%Y%m%d').isoformat()
    end = datetime.strptime(end, '%Y%m%d').isoformat()
    # 데이터를 시작시간부터 종료 시간까지 필터
    df = df.loc[start:end]
    # 결측치와 이상치를 제거 
    df = df.loc[~df.isin([np.nan, np.inf, -np.inf]).any(axis='columns'), [col]]
    # 수정 종가 컬럼을 제외한 데이터프레임 생성
    # df = df[[col]]
    # 이동 평균선 생성
    df['center'] = df.rolling(20).mean()
    # 상단 밴드 생성
    df['ub'] = df['center'] + ( 2 * df[col].rolling(20).std() )
    # 하단 밴드 생성
    df['lb'] = df['center'] - ( 2 * df[col].rolling(20).std() )
    # 결과를 리턴
    return df

In [43]:
load_data = pd.read_csv("../csv/GM.csv", index_col='Date')

In [46]:
data = create_band(load_data, 'Close', '20110101', '20150101')

In [31]:
data2 = create_band(load_data, 'Adj Close')

In [47]:
data.head(1)

                Close  center  ub  lb
Date
2011-01-03  37.060001     NaN NaN NaN

In [34]:
data2.head(1)

            Adj Close  center  ub  lb
Date
2010-11-18  27.027195     NaN NaN NaN

In [35]:
# 2번째 함수
def add_trade(df):
    # 기준이되는 컬럼이 무엇인가?
    # 기준이 되는 컬럼은 컬럼 중에 첫번째 이기 때문에 df.columns[0]
    col = df.columns[0]
    # trade 파생변수 생성
    df['trade'] = ""
    for i in df.index:
        # 상단 밴드보다 종가가 높은 경우
        if df.loc[i, col] > df.loc[i, 'ub']:
            # 현재 구매 상태이면
            if df.shift(1).loc[i, 'trade'] == 'buy':
                # 매도
                df.loc[i, 'trade'] = ''
            else:
                df.loc[i, 'trade'] = ''
        # 하단 밴드보다 종가가 낮은 경우
        elif df.loc[i, col] < df.loc[i, 'lb']:
            # 현재 구매 상태이면
            if df.shift(1).loc[i, 'trade'] == 'buy':
                # 구매 상태를 유지
                df.loc[i, 'trade'] = 'buy'
            else:
                # 매수
                df.loc[i, 'trade'] = 'buy' 
        else:
            # 현재 구매 상태이면
            if df.shift(1).loc[i, 'trade'] == 'buy':
                # 구매 상태를 유지
                df.loc[i, 'trade'] = 'buy'
            else:
                df.loc[i, 'trade'] = ''
    return df

In [36]:
add_trade(data)['trade'].value_counts()

buy    1187
        975
Name: trade, dtype: int64

In [37]:
add_trade(data2)['trade'].value_counts()

buy    1130
       1032
Name: trade, dtype: int64

In [48]:
data = add_trade(data)

In [40]:
# 3번째 함수 생성
def add_rtn(df):
    col = df.columns[0]
    # 수익율 파생변수 생성
    df['return'] = 1
    # 판매한 날의 수익율 대입
    rtn = 1.0
    buy = 0.0
    sell = 0.0

    for i in df.index:
        # 구매가를 출력
        if (df.shift(1).loc[i, 'trade'] == '') and \
            (df.loc[i, 'trade'] == 'buy'):
            buy = df.loc[i, col]
            print('진입일 :', i, '구매 가격 :', buy)
        # 판매가를 출력
        elif (df.shift(1).loc[i, 'trade'] == 'buy') and \
            (df.loc[i, 'trade'] == ''):
            sell = df.loc[i, col]
            rtn = (sell - buy) / buy + 1
            df.loc[i, 'return'] = rtn
            print('판매일 :', i, '판매 가격 :', sell, '수익율 :', rtn)

        # 구매가, 판매가를 초기화
        if df.loc[i, 'trade'] == '':
            buy = 0.0
            sell = 0.0
    
    # 누적 수익율 계산하여 파생변수에 대입
    acc_rtn = 1.0

    for i in df.index:
        rtn = df.loc[i, 'return']
        acc_rtn *= rtn
        df.loc[i, 'acc_rtn'] = acc_rtn

    print('누적 수익율 :', acc_rtn)

    return df

In [49]:
add_rtn(data)

진입일 : 2011-02-02 00:00:00 구매 가격 : 35.68
판매일 : 2011-04-05 00:00:00 판매 가격 : 32.869999 수익율 : 0.9212443665919282
진입일 : 2011-06-02 00:00:00 구매 가격 : 29.6
판매일 : 2011-07-07 00:00:00 판매 가격 : 31.799999 수익율 : 1.0743242905405406
진입일 : 2011-07-27 00:00:00 구매 가격 : 28.139999
판매일 : 2012-01-05 00:00:00 판매 가격 : 22.17 수익율 : 0.7878465098737211
진입일 : 2012-03-06 00:00:00 구매 가격 : 24.58
판매일 : 2012-04-02 00:00:00 판매 가격 : 26.76 수익율 : 1.0886899918633037
진입일 : 2012-04-09 00:00:00 구매 가격 : 24.200001
판매일 : 2012-08-07 00:00:00 판매 가격 : 20.42 수익율 : 0.8438016180247265
진입일 : 2013-02-20 00:00:00 구매 가격 : 27.1
판매일 : 2013-03-20 00:00:00 판매 가격 : 29.200001 수익율 : 1.0774908118081181
진입일 : 2013-06-20 00:00:00 구매 가격 : 32.560001
판매일 : 2013-09-10 00:00:00 판매 가격 : 37.0 수익율 : 1.1363636014630343
진입일 : 2013-10-03 00:00:00 구매 가격 : 35.290001
판매일 : 2013-10-30 00:00:00 판매 가격 : 37.23 수익율 : 1.0549730502982984
진입일 : 2014-01-16 00:00:00 구매 가격 : 39.0
판매일 : 2014-03-05 00:00:00 판매 가격 : 37.52 수익율 : 0.9620512820512821
진입일 : 2014-03-13 00:00:00 구매 가격 : 34.09
판매일 : 2014-06-04 00:00:00 판매 가격 : 36.52 수익율 : 1.0712819008506893
진입일 : 2014-07-24 00:00:00 구매 가격 : 35.740002
판매일 : 2014-11-17 00:00:00 판매 가격 : 32.310001 수익율 : 0.9040290764393355
진입일 : 2014-12-15 00:00:00 구매 가격 : 31.0
누적 수익율 : 0.86209094812149

                Close   center         ub         lb trade  return   acc_rtn
Date
2011-01-03  37.060001      NaN        NaN        NaN           1.0  1.000000
2011-01-04  37.900002      NaN        NaN        NaN           1.0  1.000000
2011-01-05  38.070000      NaN        NaN        NaN           1.0  1.000000
2011-01-06  38.900002      NaN        NaN        NaN           1.0  1.000000
2011-01-07  38.980000      NaN        NaN        NaN           1.0  1.000000
...               ...      ...        ...        ...   ...     ...       ...
2014-12-24  33.430000  32.5620  34.464492  30.659507   buy     1.0  0.862091
2014-12-26  33.730000  32.6450  34.601199  30.688801   buy     1.0  0.862091
2014-12-29  34.599998  32.7035  34.821803  30.585196   buy     1.0  0.862091
2014-12-30  35.090000  32.8110  35.182878  30.439122   buy     1.0  0.862091
2014-12-31  34.910000  32.8935  35.439525  30.347475   buy     1.0  0.862091

[1006 rows x 7 columns]

In [57]:
import bollinger as bg
import imp
imp.reload(bg)

In [58]:
df = pd.read_csv("../csv/MSFT.csv", index_col='Date')

In [59]:
# 1번 함수를 실행
data = bg.create_band(df, 'Adj Close', '20100101', '20190101')

In [61]:
# 2번 함수 실행
data2 = bg.add_trade(data)

In [62]:
# 3번 함수를 실행
bg.add_rtn(data2)

진입일 : 2010-01-22 00:00:00 구매 가격 : 22.948128
판매일 : 2010-03-17 00:00:00 판매 가격 : 23.588829 수익율 : 1.0279195322598862
진입일 : 2010-05-06 00:00:00 구매 가격 : 23.07136
판매일 : 2010-09-13 00:00:00 판매 가격 : 20.187721 수익율 : 0.875012179602763
진입일 : 2010-11-23 00:00:00 구매 가격 : 20.319853
판매일 : 2011-01-06 00:00:00 판매 가격 : 23.312819 수익율 : 1.1472926994107686
진입일 : 2011-03-16 00:00:00 구매 가격 : 20.171436
판매일 : 2011-04-06 00:00:00 판매 가격 : 21.278055 수익율 : 1.0548606950937949
진입일 : 2011-05-16 00:00:00 구매 가격 : 19.992422
판매일 : 2011-06-27 00:00:00 판매 가격 : 20.639456 수익율 : 1.032363962705469
진입일 : 2011-08-04 00:00:00 구매 가격 : 21.245531
판매일 : 2011-08-31 00:00:00 판매 가격 : 21.923595 수익율 : 1.0319156061573607
진입일 : 2011-11-01 00:00:00 구매 가격 : 21.420837
판매일 : 2012-01-03 00:00:00 판매 가격 : 22.229851 수익율 : 1.037767618510892
진입일 : 2012-04-04 00:00:00 구매 가격 : 26.087456
판매일 : 2012-06-19 00:00:00 판매 가격 : 25.829544 수익율 : 0.9901135626256542
진입일 : 2012-07-12 00:00:00 구매 가격 : 24.087934
판매일 : 2012-09-06 00:00:00 판매 가격 : 26.551155 수익율 : 1.1022595379080664
진입일 : 2012-09-28 00:00:00 구매 가격 : 25.204538
판매일 : 2013-01-25 00:00:00 판매 가격 : 23.806347 수익율 : 0.9445262198418396
진입일 : 2013-06-20 00:00:00 구매 가격 : 29.035603
판매일 : 2013-07-11 00:00:00 판매 가격 : 30.942978 수익율 : 1.0656909036812496
진입일 : 2013-07-19 00:00:00 구매 가격 : 27.223581
판매일 : 2013-08-23 00:00:00 판매 가격 : 30.340303 수익율 : 1.11448611407882
진입일 : 2014-01-08 00:00:00 구매 가격 : 31.458933
판매일 : 2014-01-31 00:00:00 판매 가격 : 33.288746 수익율 : 1.0581651323012133
진입일 : 2014-10-10 00:00:00 구매 가격 : 39.545464
판매일 : 2015-04-23 00:00:00 판매 가격 : 39.450024 수익율 : 0.9975865752896462
진입일 : 2015-06-08 00:00:00 구매 가격 : 41.896034
판매일 : 2015-10-02 00:00:00 판매 가격 : 42.024754 수익율 : 1.0030723671839679
진입일 : 2016-01-07 00:00:00 구매 가격 : 48.435574
판매일 : 2016-03-16 00:00:00 판매 가격 : 50.821819 수익율 : 1.04926637186131
진입일 : 2016-04-22 00:00:00 구매 가격 : 48.418652
판매일 : 2016-05-25 00:00:00 판매 가격 : 49.077465 수익율 : 1.0136065952435023
진입일 : 2016-06-27 00:00:00 구매 가격 : 45.602867
판매일 : 2016-07-12 00:00:00 판매 가격 : 50.103844 수익율 : 1.0986994304546684
진입일 : 2016-09-09 00:00:00 구매 가격 : 53.258598
판매일 : 2016-10-21 00:00:00 판매 가격 : 56.527447 수익율 : 1.0613769254684475
진입일 : 2017-08-10 00:00:00 구매 가격 : 68.923355
판매일 : 2017-08-30 00:00:00 판매 가격 : 71.813408 수익율 : 1.0419314033682776
진입일 : 2017-12-04 00:00:00 구매 가격 : 79.068665
판매일 : 2017-12-15 00:00:00 판매 가격 : 84.695534 수익율 : 1.0711643354545066
진입일 : 2018-02-08 00:00:00 구매 가격 : 82.901184
판매일 : 2018-04-17 00:00:00 판매 가격 : 94.126915 수익율 : 1.135410985203782
진입일 : 2018-06-27 00:00:00 구매 가격 : 95.981407
판매일 : 2018-07-12 00:00:00 판매 가격 : 102.525146 수익율 : 1.068177152268668
진입일 : 2018-10-10 00:00:00 구매 가격 : 104.865669
누적 수익율 : 2.619028014666416

,Adj Close,center,ub,lb,trade,return,acc_rtn
Date,,,,,,,
2010-01-04,24.525019,24.056307,24.964478,23.148135,,1.0,1.000000
2010-01-05,24.532942,24.095134,25.015633,23.174635,,1.0,1.000000
2010-01-06,24.382378,24.133962,25.032815,23.235109,,1.0,1.000000
2010-01-07,24.128809,24.168828,25.004852,23.332803,,1.0,1.000000
2010-01-08,24.295214,24.206467,24.989876,23.423058,,1.0,1.000000
...,...,...,...,...,...,...,...
2018-12-24,93.384033,105.437251,114.470702,96.403801,buy,1.0,2.619028
2018-12-26,99.763077,105.144093,114.525564,95.762621,buy,1.0,2.619028
2018-12-27,100.378166,104.848455,114.447882,95.249027,buy,1.0,2.619028
2018-12-28,99.594429,104.316206,113.837204,94.795209,buy,1.0,2.619028
2018-12-31,100.765076,103.888622,113.230469,94.546775,buy,1.0,2.619028