# 연습
1. csv폴더 안에 num_1 폴더에 있는 chipotle.tsv 로드
2. order_id컬럼의 데이터의 타입을 str 변경(이유는? 통계요약정보(descibe() 숫자형의 데이터만 계산))
3. 가장 많이 주문한 item_name을 출력
4. item당 주문 총량의 top10을 바 그래프 표시
5. item_price의 '$'를 제거하고 데이터 타입을 float형태로 변경
6. 주문당 평균 계산 금액 출력

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../csv/num_1/chipotle.tsv", sep='\t')

In [ ]:
# order_id를 str의 형태로 변경
df['order_id'] = df['order_id'].astype('str')

In [32]:
# 가장 많이 주문한 아이템의 이름을 출력하시오.
group_data = df.groupby('item_name')[['quantity']].sum()\
    .sort_values('quantity', ascending=False)

group_data.index[0]

'Chicken Bowl'

In [ ]:
# 주문당 주문총량 top10을 그래프로 시각화 표시 (바그래프)
import matplotlib.pyplot as plt

In [ ]:
group_data.head(10).plot.bar()

In [ ]:
x = group_data.head(10).index
y = group_data.head(10)['quantity']

plt.barh(x, y)
plt.show()

In [ ]:
df.head(1)

In [ ]:
df.info()

In [ ]:
# item_price의 '$'를 제거한다. 
# case1
df['item_price'].str.replace('$', "")

In [ ]:
# case2
df['item_price'].str.lstrip('$')

In [ ]:
# case3
def change(x):
    #x의 데이터의 타입은? --> 문자
    # x = x.replace("$", "")
    x = x.lstrip("$")
    return x 

df['item_price'].apply(change)

In [28]:
#  case4

df['item_price'] = df['item_price'].apply(lambda y : y.replace("$" , ""))

In [30]:
df['item_price'] = df['item_price'].astype('float')

In [31]:
df.groupby('order_id').sum()['item_price'].mean()

C:\Users\moons\AppData\Local\Temp\ipykernel_13756\3583779798.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('order_id').sum()['item_price'].mean()

18.811428571428568

In [41]:
(df['quantity'] >= 2)

0       False
1       False
2       False
3       False
4        True
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: quantity, Length: 4622, dtype: bool

In [42]:
# chicken bowl 이 메뉴를 2개 이상 주문한 고객들이 주문한 chicken bowl의 평균 주문 수량
# df['quantity'] >= 2, df['item_name'] == Chicken Bowl
df.loc[(df['quantity'] >= 2) & (df['item_name'] == 'Chicken Bowl')]['quantity'].mean()

2.0606060606060606